:root {
  --background: #fff;
  --foreground: #000;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

body {
  font-family: Inter, sans-serif;
  font-feature-settings: 'liga' 1, 'calt' 1; /* fix for Chrome supplied by font author */
  max-width: 752px;
  margin: 0 auto;
  background-color: var(--background);
  color: var(--foreground);
  min-height: 100vh;
  padding: 1dvw;
}

@supports (font-variation-settings: normal) {
  body {
    font-family: InterVariable, sans-serif;
  }
}

header,
main,
footer {
  border: 1px solid color-mix(in oklab, var(--foreground) 25%, transparent);
}

grid-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}

@media only screen and (min-width: 768px) {
  grid-container {
    grid-template-columns: 1fr 1fr;
  }
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

header a {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  color: var(--foreground);
}

header img {
  border-radius: 1rem;
}

header h1 {
  font-weight: bold;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

header ul {
  display: flex;
  gap: 1rem;
  list-style: none;
  padding: 0;
  margin: 0;
}

main {
  display: grid;
  padding: 0.75rem;
  gap: 2rem;
}

footer {
  padding: 0 0.75rem;
  font-size: 0.875rem;
}

section {
  display: grid;
  gap: 1rem;

  article {
    padding: 1rem;
    border-radius: 0.5rem;
    background-color: color-mix(in oklab, var(--foreground) 5%, transparent);
    position: relative;

    &:hover {
      background-color: color-mix(in oklab, var(--foreground) 7.5%, transparent);
    }

    h3 {
      font-weight: 600;
    }

    a {
      text-decoration: none;

      &::after {
        content: '';
        position: absolute;
        inset: 0;
      }
    }
  }
}

section-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

section-header a,
project-card a {
  display: block;
  color: var(--background);
  background-color: var(--foreground);
  text-decoration: none;
  text-align: center;
  padding: 0.375rem 0.5rem;
  border-radius: 0.375rem;
  font-size: 0.875rem;
  font-weight: medium;

  &:hover {
    background-color: color-mix(in oklab, var(--foreground) 80%, transparent);
  }
}

project-card {
  padding: 1rem;
  border-radius: 0.5rem;
  background-color: color-mix(in oklab, var(--foreground) 5%, transparent);
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  h3 {
    margin: 0;
  }

  img {
    border-radius: 0.375rem;
  }

  img {
    width: 100%;
    height: auto;
  }
}
