:root {
  --background: #fff;
  --foreground: #000;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

body {
  font-family: Inter, sans-serif;
  font-feature-settings: 'liga' 1, 'calt' 1, 'ss01' 1, 'cv01' 1, 'cv11' 1;
  max-width: 752px;
  margin: 0 auto;
  background-color: var(--background);
  color: var(--foreground);
  min-height: 100dvh;
  padding: 1dvw;
}

@supports (font-variation-settings: normal) {
  body {
    font-family: InterVariable, sans-serif;
  }
}

grid-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}

@media only screen and (min-width: 768px) {
  grid-container {
    grid-template-columns: 1fr 1fr;
  }
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  background: color-mix(in oklab, var(--foreground) 2.5%, transparent);
  border-radius: 0.5rem;
}

header a {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  color: var(--foreground);
  transition: transform 150ms ease-in-out;

  &:hover {
    transform: scale(1.05);
  }
}

header img {
  border-radius: 1rem;
  border: 2px solid color-mix(in oklab, var(--background) 75%, transparent);
  filter: drop-shadow(0 2px 3px color-mix(in oklab, var(--foreground) 25%, transparent));
}

@keyframes shine {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}

header h1 {
  font-weight: bold;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  text-align: center;

  background: linear-gradient(to right, blue, red);
  background-size: 500% auto;
  animation: shine 2.5s ease-in-out infinite alternate;

  background-clip: text;
  -webkit-background-clip: text;

  text-fill-color: transparent;
  -webkit-text-fill-color: transparent;
}

header ul {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  list-style: none;
  padding: 0;
  margin: 0;
}

main {
  display: grid;
  padding: 0.75rem;
  gap: 2rem;
}

footer {
  padding: 0 0.75rem;
}

hgroup {
  p {
    margin-top: 0.5rem;
  }
}

section {
  &:has(section-header) {
    display: grid;
    gap: 1rem;
  }

  article {
    padding: 1rem;
    border-radius: 0.5rem;
    background-color: color-mix(in oklab, var(--foreground) 5%, transparent);
    position: relative;

    &:hover {
      background-color: color-mix(in oklab, var(--foreground) 7.5%, transparent);
    }

    h3 {
      font-weight: 600;
    }

    a {
      color: var(--foreground);
      text-decoration: none;

      &::after {
        content: '';
        position: absolute;
        inset: 0;
      }
    }

    time {
      font-size: 0.875rem;
      color: color-mix(in oklab, var(--foreground) 75%, transparent);
    }
  }
}

section-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

section-header a,
project-card a,
button {
  display: block;
  color: var(--background);
  background-color: var(--foreground);
  text-decoration: none;
  text-align: center;
  padding: 0.375rem 0.5rem;
  border-radius: 0.375rem;
  font-weight: 500;
  transition: background-color 150ms ease-in-out;
  cursor: pointer;

  &:hover {
    background-color: color-mix(in oklab, var(--foreground) 80%, transparent);
  }
}

/* text should at least 16px on small screens like phones. only update font-size on larger screens. */
@media only screen and (min-width: 640px) {
  footer,
  section-header a,
  project-card a {
    font-size: 0.875rem;
  }
}

project-card {
  padding: 1rem;
  border-radius: 0.5rem;
  background-color: color-mix(in oklab, var(--foreground) 5%, transparent);
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  h3 {
    margin: 0;
  }

  img {
    width: 100%;
    height: min(100%, 10.625rem);
    border-radius: 0.375rem;
    object-fit: cover;
    object-position: top;
  }
}

form {
  fieldset {
    display: grid;
    gap: 1rem;
    border-radius: 0.5rem;
  }

  form-group {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;

    progress {
      width: 100%;
    }

    input,
    textarea {
      border-radius: 0.375rem;
      padding: 0.5rem;
      border: 1px solid color-mix(in oklab, var(--foreground) 25%, transparent);
    }
  }
}

article img {
  width: 100%;
  margin-bottom: 1rem;
  border-radius: 0.5rem;
}
